*.log
*.bak
*.swp
*.DS_Store
# Удалить каталоги, которые не нужны в образе
node_modules
dist
build
#target
# Исключить конфиденциальные файлы
.env
*.pem
*.key
*.crt
# Исключить тестовые файлы
tests
__tests__
# Исключить файлы системы контроля версий
.git
.gitignore
# Исключить документацию
docs
*.md